@charset "UTF-8";
* { margin: 0; padding: 0; }

* li { list-style: none; }

* a { text-decoration: none; color: #000; }

* body { min-width: 1440px; text-align: center; }

header { min-width: 1730px; }

header .hd-top { background-color: #000; height: 40px; line-height: 40px; }

header .hd-top .hd-top-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 50px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header .hd-top .hd-top-nav li { cursor: pointer; }

header .hd-top .hd-top-nav li a { font-size: 12px; color: #fff; }

header .hd-top .hd-top-nav li a img { vertical-align: text-bottom; }

header nav .inner { max-width: 1730px; /* 메뉴 버튼 때문에 더 줌 */ margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 30px auto; padding-bottom: 30px; }

header nav .inner .menu-btn { margin-right: 30px; /* main-nav와 간격 */ padding-bottom: 30px; /* main-nav의 borderbottom 간격 수치 그대로 가져가기 */ cursor: pointer; }

header nav .inner .main-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 95%; /* menu 버튼 제외하고 95%만 */ padding-bottom: 30px; /* borderbottom과의 간격 */ border-bottom: 1px solid #ccc; }

header nav .inner .main-nav .logo { width: 75px; height: 30px; cursor: pointer; }

header nav .inner .main-nav .logo img { width: 100%; }

header nav .inner .main-nav .digital-showroom { font-size: 14px; font-weight: 700; cursor: pointer; }

header nav .inner .main-nav .search { background-color: #eee; width: 1000px; height: 50px; border-radius: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-transition: .2s; transition: .2s; margin: 0 100px; }

header nav .inner .main-nav .search .search:hover { background-color: #ccc; }

header nav .inner .main-nav .search .search-box-btn { border: none; background-color: transparent; margin: 0 20px; /* 돋보기 아이콘과 margin */ cursor: pointer; }

header nav .inner .main-nav .search .search-box { border: none; outline: none; background-color: transparent; color: #999; font-size: 16px; font-weight: 700; }

header nav .inner .main-nav .search .search-box:hover .search { border: 3px solid #000; }

header nav .inner .main-nav .hd-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

/* aside1 */
#aside1 { display: none !important; width: 480px; height: 100vh; background-color: #fff; position: fixed; top: 0; left: 0; /* 가로 슬라이드 배치 */ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; /* 세로 배치 */ -webkit-box-sizing: border-box; box-sizing: border-box; /* width 480px을 유지 */ }

#aside1 .aside1-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 40px; margin: 20px 0; }

#aside1 .aside1-top .aside1-del { width: 10%; /* 어차피 width 480px이라 %로 줘도 됨 */ margin-left: 50px; /* del btn 간격 살짝 주기 */ }

#aside1 .aside1-top .aside1-logo { width: 20%; /* del btn보다 조금 더 크게 width 20% 주기 */ }

#aside1 .aside1-top .aside1-logo img { width: 100%; }

#aside1 .aside1-btm { padding-left: 135px; /* logo랑 왼쪽 맞추기 */ text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; }

#aside1 .aside1-btm h1 { font-size: 48px; cursor: pointer; margin: 50px 0; }

#aside1 .aside1-btm h1:hover { text-decoration: underline; }

#aside1 .aside1-btm p { color: #333; font-weight: 700; line-height: 2; cursor: pointer; }

#aside1 .aside1-btm p:hover { text-decoration: underline; }

/* aside2*/
#aside2 { display: none !important; width: 480px; height: 100vh; background-color: #fff; position: fixed; top: 0; left: 0; /* 가로 슬라이드 배치 */ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; /* 세로 배치 */ -webkit-box-sizing: border-box; box-sizing: border-box; /* width 480px을 유지 */ }

#aside2 .aside2-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 40px; margin: 20px 0; }

#aside2 .aside2-top .aside2-del { width: 10%; /* 어차피 width 480px이라 %로 줘도 됨 */ margin-left: 50px; /* del btn 간격 살짝 주기 */ }

#aside2 .aside2-top .aside2-logo { width: 20%; /* del btn보다 조금 더 크게 width 20% 주기 */ }

#aside2 .aside2-top .aside2-logo img { width: 100%; }

#aside2 .aside2-btm { padding-left: 135px; /* logo랑 왼쪽 맞추기 */ text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; }

#aside2 .aside2-btm h3 { font-size: 24px; cursor: pointer; margin: 50px 0 10px; /* 텍스트랑 이미지 bottom 간격 최소화 */ }

#aside2 .aside2-btm h3:hover { text-decoration: underline; }

#aside2 .aside2-btm .aside2-img-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; gap: 10px; }

#aside2 .aside2-btm .aside2-img-container .aside2-img { width: 40%; /* 45% 줘도 되는데, 작은 게 더 예쁘고 거의 비슷한 수치라 */ -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px; }

#aside2 .aside2-btm .aside2-img-container .aside2-img img { width: 100%; border: 1px solid #000; /* 태혁 님이 다 보시고 없애세요~ */ }

#aside2 .aside2-btm .aside2-img-container .aside2-img p { font-size: 14px; }

/* footer부분은 css로 작업한 걸 가지고 온 거라 scss 문법 X */
footer { background-color: #f5f5f5; text-align: center; }

footer > .inner { max-width: 1440px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.footer-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 50px; }

.footer-txt h3 { font-size: 18px; text-align: left; }

.footer-txt p { font-size: 12px; text-align: left; margin: 15px 0; }

footer .inner button { float: left; font-size: 12px; border-radius: 50px; border: none; background-color: #000; color: #fff; font-weight: 700; padding: 10px; cursor: pointer; }

footer .inner button:hover { background-color: #555; }

.footer-top-list { width: 20%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.footer-top-list-li li { font-size: 14px; text-align: left; margin: 10px; }

.footer-top-list-li li:nth-of-type(1) { font-weight: 700; }

.footer-middle { border-bottom: 1px solid #ddd; padding-bottom: 20px; /* footer mid sns icon으로부터 margin */ margin-bottom: 20px; /* footer btm으로부터 margin */ }

.footer-middle-sns { display: inline-block; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; gap: 10px; }

.footer-middle-sns img { width: 30px; padding-top: 50px; }

.footer-btm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #333; }

.footer-contents { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.footer-contents li { margin: 0 10px; font-size: 12px; }

.footer-contents li a { color: #333; }

.footer-contact { font-size: 12px; margin: 50px 0; text-align: left; color: #333; }
