@charset "UTF-8";
.products-list { width: 80%; margin: 100px auto; padding: 50px; border-radius: 10px; -webkit-box-shadow: 1px 1px 10px 1px #ccc; box-shadow: 1px 1px 10px 1px #ccc; }

.products-list li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; }

.products-list li span { width: 10%; text-align: left; line-height: 40px; /* 세로 중간 */ }

.products-list li span:nth-of-type(1) { width: 5%; /* 번호 */ }

.products-list li span:nth-of-type(3) { width: 20%; /* 배송지 */ }

.products-list li span:nth-of-type(4) { width: 20%; /* 배송지 */ }

.products-list li span:nth-of-type(5) { width: 10%; /* 주문 시 요청사항 */ }

.products-list .products-list-title { height: 50px; border-bottom: 1px solid #999; font-size: 18px; font-weight: 700; }

.products-list .products-list-contents { height: 40px; border-bottom: 1px solid #999; }
