@charset "UTF-8";
.products-list { width: 80%; margin: 100px auto; padding: 50px; border-radius: 10px; -webkit-box-shadow: 1px 1px 10px 1px #ccc; box-shadow: 1px 1px 10px 1px #ccc; }

.products-list li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; }

.products-list li span { width: 10%; text-align: left; height: 40px; line-height: 40px; padding-right:20px; /* 세로 중간 */ }

.products-list li span:nth-of-type(1) { width: 5%; text-align:center; /* 번호 */ }

.products-list li span:nth-of-type(2) { width: 25%; text-align:center;}

.products-list li span:nth-of-type(3) { width: 12%; text-align:center; /* 배송지 */ }

.products-list li span:nth-of-type(4) { width: 15%; text-align:center; /* 배송지 */ }

.products-list li span:nth-of-type(5) { width: 10%;  text-align:center;/* 주문 시 요청사항 */ }

.products-list .products-list-title { height: 50px; border-bottom: 1px solid #999; font-size: 18px; font-weight: 700; }

.products-list .products-list-contents { height: 40px; border-bottom: 1px solid #999; }

.paginationBox { margin-top: 50px; }

.paginationBox ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.paginationBox ul li.active a { background-color: #03acd6; }

.paginationBox ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 30px; height: 30px; background-color: #111; color: #fff; border-radius: 3px; margin: 0 3px; }

.products-list li .add a{border: 1px solid #ccc; padding: 3px; margin-right: 20px; text-align: center; }
