body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1440px;
}

body #wrap {
  display: flex;
  height: 100vh;
  width: 100%;
}

body .left {
  background-color: #0058a3;
  width: 40%;
  max-width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body header {
  display: flex;
  gap: 100px;
}

body header i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

body header .logo {
  max-width: 88px;
}

body header .logo img {
  width: 100%;
}

body #content {
  line-height: 100%;
}

body #content h1 {
  color: #fff;
}

body #content p {
  color: #fff;
  line-height: 1.6;
  font-size: 14px;
}

body #content .login-txt {
  margin: 30px 0;
}

body footer {
  font-size: 12px;
  color: #fff;
}

body footer a {
  color: #fff;
}

body footer p {
  margin-top: 6px;
}

body .right {
  width: 60%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  box-sizing: border-box;
}

body .right .login-id {
  margin-bottom: 60px;
}

body .right .login-id #email {
  width: 450px;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 0;
}

body .right .login-id p {
  font-size: 14px;
  margin-top: 10px;
}

body .right .login-id p a {
  font-weight: bold;
  color: #333;
}

body .right .login-btn {
  text-decoration: none;
  background-color: #0058a3;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
