@charset "utf-8";
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
}
a {
  text-decoration: none;
  color: #111;
}
ul {
  list-style: none;
}

#wrap {
  height: 100vh;
  width: 100%;
}
#content {
  // height: 100%;
  width: 100%;
  display: flex;
  padding: 50px 50px;
  box-sizing: border-box;
}
.left {
  width: 45%;
  height: 100%;
  text-align: center;
  margin-top: 30px;
  h1 {
    font-weight: bolder;
    span {
      color: #0058a3;
    }
  }
  p {
    font-size: 14px;
    margin-top: 10px;
    a {
      color: #111;
      border-bottom: 1px solid #111;
    }
  }
}
.img-container {
  max-width: 500px;
  overflow: hidden;

  margin: 0 auto;
  margin-top: 80px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
}
.right {
  width: 55%;
  // height: 100%;
}
form {
  // height: 1000px;
  padding: 20px 0;
  h4 {
    margin-bottom: 20px;
  }
  .check-box {
    font-size: 14px;
    margin-bottom: 30px;
    #option {
      margin-bottom: 20px;
    }
    a {
      color: #111;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 1px solid #111;
      font-size: 16px;
      margin-top: 40px;
      padding: 0;
      height: 30px;
      width: 500px;
    }
    p {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .hide {
      font-size: 12px;
      color: red;
      margin-top: 5px;
    }
    .phone-p {
      font-size: 12px;
    }
  }

  .click {
    font-size: 12px;
    margin-bottom: 8px;
    display: none;
  }

  .phone {
    display: flex;

    // margin: 0;
    p {
      border-bottom: 1px solid #111;
      width: 78px;
      height: 30px;
      font-size: 16px;
      text-align: left;
      padding: 0;
      color: #333;
    }
    #phone-txt {
      width: 422px;
    }
  }
  .search-btn {
    width: 250px;
    height: 50px;
    background-color: #0058a3;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .address {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 1px solid #111;
      margin-bottom: 40px;
      padding: 0;
      height: 30px;
      width: 500px;
      font-size: 16px;
    }
    .click {
      font-size: 16px;
    }
  }
  .news {
    font-size: 13px;
    .news-content {
      padding-left: 30px;
    }
  }
  .agree {
    font-size: 13px;
  }
  #checkbox {
    margin-bottom: 30px;
  }
  #news-in {
    margin-bottom: 20px;
  }

  #submit-btn {
    width: 500px;
    height: 50px;
    background-color: #111;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 40px;
  }
}
/* 푸터 */

footer {
  box-sizing: border-box;
  margin-top: 30px;
  .inner {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .footer-top {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      box-sizing: border-box;
    }
    .footer-txt {
      width: 30%;
    }
    .footer-family {
      font-size: 18px;
      margin-left: 30px;
      padding-top: 30px;
    }
    p {
      font-size: 14px;
      margin: 10px 30px;
    }
    button {
      margin: 10px 30px;
    }
    .footer-list-wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 68%;
    }
    .footer-list {
      .footer-lister {
        margin-left: 10px;
        padding-top: 20px;
        li {
          margin-top: 15px;
          font-size: 14px;
        }
      }
    }
    .footer-middle {
      padding: 0 30px;
      .main-sns-warp {
        img {
          width: 30px;
          padding-top: 50px;
        }
      }
    }
    .footer-bottom {
      margin-top: 25px;
      .footer-btm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        p {
          margin-left: 0px;
          margin-top: 20px;
        }
        .footer-contents {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 240px;
          margin-top: 25px;
          padding-left: 25px;
          li {
            padding-left: 30px;
            font-size: 12px;
          }
        }
      }

      .footer-indent {
        margin-top: 30px;
        margin-left: 5px;
        font-size: 12px;
        padding-bottom: 50px;
      }
    }
  }
}
